*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

k4r-android/.idea
k4r-android/.gitignore
k4r-android/.idea/.gitignore
k4r-android/.idea/deploymentTargetSelector.xml
k4r-android/.idea/deviceManager.xml
k4r-android/.idea/inspectionProfiles/Project_Default.xml
